<div class="login-box">
                <div class="login-logo">
                  <!-- <a><b>Admin</b>LTE</a> -->
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body p-4"  *ngIf="!authenticationConfirm()">
                  <p class="login-box-msg"><b>
                          Sign in to start your session
                        </b>
                </p>
              
                  <form [formGroup]="adminLogin" action="../../index2.html" method="post">
                    <div class="form-group has-feedback">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" class="form-control" placeholder="Password" formControlName="password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-8">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox"> Remember Me
                          </label>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="adminLogging()">Sign In</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
              
                  <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
                      Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
                      Google+</a>
                  </div>
                  <!-- /.social-auth-links -->
              
                  <a href="#">I forgot my password</a><br>
                  <a href="register.html" class="text-center">Register a new membership</a>
              
                </div>
                <!-- /.login-box-body -->
                
                <div class="row" *ngIf="authenticationConfirm()">
                        <div class="col-lg-12">
          
                          <!-- Profile Image -->
                          <div class="box box-primary" *ngIf="admin">
                            <div class="box-body box-profile">
                              <img class="profile-user-img img-responsive img-circle"  [src]="admin.image" alt="User profile picture">
                
                              <h3 class="profile-username text-center">Nina Mcintire</h3>
                
                              <p class="text-muted text-center">{{admin.username}}</p>
                
                              <ul class="list-group list-group-unbordered">
                                <li class="list-group-item text-center">
                                  <b>{{admin.email}}</b>
                                </li>
                              </ul>
                
                              <button class="btn btn-danger btn-block" (click)="logout()"><b>Log out</b></button>
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                
                          <!-- About Me Box -->
                         
                          <!-- /.box -->
                        </div>

                </div>
              </div>



