
<div class="modal-header">
  <h4 class="modal-title pull-left ">Users</h4>
  <button type="button" class="btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleTnputPrice">Type</label>
        <input name="usertype" type="usertype" class="form-control" id="type" [(ngModel)]="userData.type">
      </div>
      <div class="form-group">
        <label for="exampleInputCategory">Username</label>
        <input name="username" type="username" class="form-control" id="username" [(ngModel)]="userData.username">
      </div>
      <div class="form-group">
        <label for="exampleInputNmae">Email</label>
        <input name="email" type="email" class="form-control" id="email" [(ngModel)]="userData.email">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="changeUserData()">Save</button>
</div>
    