<!-- <p>sign-up works!</p> -->
 <form class="bg-secondary text-warning p-4 rounded">

    <h3 class="bg-dark text-warning rounded p-2">User authentication</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">username</label>
      <input type="username" name="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" [(ngModel)]="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
      </div>
       <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="row">
        <div class="col-8">
            <button type="submit" class="btn btn-primary" (click)="signup()">Submit</button>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary"><a [routerLink]="['/sign-in']" class="text-light" style="text-decoration: none;cursor: pointer;">Signin</a></button>
        </div>
    </div>


  </form>

