<app-table 
    [title]="title" 
    [pageSize]="pageSize" 
    (onClick)="getProducts($event)"
    [columnDefinition]="productColumnDefinition"
    [tableData]="productData"
    [rowActions]="rowActions">
</app-table>



<!-- <div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-4">
                <h3 class="card-title text-white text-center"> Product Details </h3>
            </div>
            <!-- <div class="col-2 offset-lg-10">
                <button class="btn btn-block btn-primary">Add Product</button>
            </div>  
        </div>
    </div>
    
    <div class="card-body rounded" >
    <table id="example2" class="table table-bordered table-hover " >
    <thead>
    <tr class="bg-dark">
    <th>ID</th>
    <th>Category</th>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Short Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" (click)="getProduct(product.id)" >
    <td style="cursor: pointer;">{{product.id}}</td>
    <td>{{product.category}}</td>
    <td>{{product.name}}</td>
    <td>{{product.unitPrice}}</td>
    <td>{{product.shortDescription}}</td>
    </tr>
    </tbody>
    </table>
    </div>  
    </div> -->

    